<!DOCTYPE HTML>
<html>

<head>
    <title>ARArt</title>
    <!--<meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />-->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/dark.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.js"></script>
    <script src="js/test.js"></script>
</head>

<body ng-app="app" ng-controller="MainCtrl">
<div id="main">

    <!-- begin header -->
    <header>
        <div id="logo"><h1>GROUP<a href="#">#1</a></h1></div>
        <nav>
            <ul class="sf-menu" id="nav">
                <li><a href="about.html">about me</a></li>
                <li class="selected"><a href="blog.html">blog</a></li>
                <li><a href="login.html">logout</a></li>
            </ul>
        </nav>
    </header>
    <!-- end header -->

    <!-- begin content -->
    <div id="site_content">
        <div id="left_content">
            <p><button id="createnew" name="createnew" style="padding: 2pt" ng-click="addnew()">Create New Post</button></p>
            <div id="blog_container"ng-repeat="post in posts" >
                <strong> Title: </strong><a href="/FlyBlog/client/blog.html?id={{post.id}}">{{post.title}}</a><br/>
                <strong> Post: </strong>{{post.post}}<br><br>


                <!--<div class="blog"><h2>{{bulan}}</h2><h3>{{tanggal}}</h3></div>
                <h4 class="select"><a onclick="showpost()">{{pos}}</a></h4>
                <p>{{contentpreview}} <a onclick="showpost()">read more.....</a></p>-->


            </div>
        </div>

    </div>
    <!-- end content -->

    <!-- begin footer -->
    <footer>
        <p>Copyright &copy; 2016 Group1</p>
    </footer>
    <!-- end footer -->

</div>
<!-- javascript at the bottom for fast page loading -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.easing-sooper.js"></script>
<script type="text/javascript" src="js/jquery.sooperfish.js"></script>
<!-- initialise sooperfish menu -->
<script type="text/javascript">
    $(document).ready(function() {
        $('ul.sf-menu').sooperfish();
    });
</script>
</body>
</html>
